    <h2 mat-dialog-title>View Breakup Details</h2>
    <div mat-dialog-content>
      <div class="table-responsive">
        <table [dataSource]="dataSource" mat-table class="w-100">
          <!-- Name Column -->
            <ng-container matColumnDef="rank">
              <th mat-header-cell *matHeaderCellDef style="width: 50px;">Rank  </th>
              <td mat-cell *matCellDef="let element" style="width: 50px;">{{element.rank}} </td>
            </ng-container>
          
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Image</th>
                <td mat-cell *matCellDef="let element">
                  <img style="max-width: 300px; height: 120px; object-fit: contain;" src={{element.image}}>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center" style="padding: 20px;">
      <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent" (click)="closeDialogBox()">Close</button>
    </div>