<h2 mat-dialog-title>View Feedback Details</h2>
<div mat-dialog-content>
  <div class="table-responsive">
    <table [dataSource]="dataSource" mat-table class="w-100">
      <!-- Name Column -->
      <div>
        <ng-container matColumnDef="avg_rating">
          <th mat-header-cell *matHeaderCellDef>Average Rating</th>
          <td mat-cell *matCellDef="let element">{{element.avg_rating}} </td>
        </ng-container>
        <ng-container matColumnDef="pending_reply_count">
          <th mat-header-cell *matHeaderCellDef>Pending Reply Count</th>
          <td mat-cell *matCellDef="let element">{{element.pending_reply_count}} </td>
        </ng-container>
        <ng-container matColumnDef="review_count">
          <th mat-header-cell *matHeaderCellDef>Review Count</th>
          <td mat-cell *matCellDef="let element">{{element.review_count}} </td>
        </ng-container>
        <ng-container matColumnDef="review_reply_count">
          <th mat-header-cell *matHeaderCellDef>Review Reply Count</th>
          <td mat-cell *matCellDef="let element">{{element.review_reply_count}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </div>
    </table>
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end center" style="padding: 10px 20px 20px;">
  <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent"
    (click)="closeDialogBox()">Close</button>
</div>