<h2 mat-dialog-title>
    <span *ngIf="this.entity_id==undefined">New</span>
    <span *ngIf="this.entity_id!=undefined">Edit</span>
    Admin Register
</h2>
<form class="innerbox" [formGroup]="userForm">
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <!-- <div class="teamlable">Name<em>*</em></div> -->
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <mat-label>Select Role</mat-label>
                        <mat-select formControlName="role_id" >
                            <mat-option *ngFor="let type of roleData" value={{type.id}}>
                                {{type.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(userForm.get('role_id')?.hasError('required') && (submitted || (userForm.get('role_id')?.dirty)))">
                        *Role Field Is Required
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                   
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Name" formControlName="name">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(userForm.get('name')?.hasError('required') && (submitted || (userForm.get('name')?.dirty)))">
                        *Name Field Is Required
                    </div>
                </div>
            
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                   
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Email" formControlName="email">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(userForm.get('email')?.hasError('required') && (submitted || (userForm.get('email')?.dirty)))">
                        *Email Field Is Required
                    </div>
                </div>
            
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                   
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput type="password" placeholder="Enter Password" formControlName="password">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(userForm.get('password')?.hasError('required') && (submitted || (userForm.get('password')?.dirty)))">
                        *Password Field Is Required
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center" style="padding: 20px">
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button [disabled]="userForm.invalid"
            color="primary" class="primary" (click)="saveModule()">Save</button>
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent" class="secondary"
            (click)="closeDialogBox()">Close</button>
    </div>
</form>


