<h2 mat-dialog-title>Filters</h2>
<mat-dialog-content class="mat-typography">
    <div fxLayoutAlign="space-between center" fxLayoutGap="20" class="searchArea big mb-3">
        <form [formGroup]="searchForm" class="search-form" fxLayoutAlign="start center" fxLayoutGap="8">
            <div class="form-row">
                <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Search by Name /Email</mat-label>
                        <input matInput placeholder="Search by Name /Email" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Search by Campaign</mat-label>
                        <input matInput placeholder="Search by campaign" formControlName="campaign_title">
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="-1">Blocked</mat-option>
                            <mat-option value="-3">Noshow</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Select Booking Count</mat-label>
                        <mat-select formControlName="booking_count">
                            <mat-option value="1">Yes</mat-option>
                            <mat-option value="0">No</mat-option>
                            <mat-option value="2">Made 1 Booking</mat-option>
                            <mat-option value="3">Made 2 Bookings</mat-option>
                            <mat-option value="4">Made 3 or more Bookings</mat-option>
                            <mat-option value="5">Made 5 or more Bookings</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-md-6 mb-4">
                    <!-- <mat-form-field appearance="outline" class="searchField w-100 filter-element">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Booking Start Date" formControlName="from_date"
                                readonly="true">
                            <input matEndDate placeholder="Booking End Date" formControlName="to_date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field> -->
                    <app-date-time-picker  #dateTimePicker (dateRangeChange)="onDateRangeChange($event)"></app-date-time-picker>
                </div>
                <!-- <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Select User Type</mat-label>
                        <mat-select formControlName="is_nukhba_user">
                          <mat-option value="1">Test User</mat-option>
                          <mat-option value="0">Actual User</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div> -->
                <!-- <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Select Invite Status</mat-label>
                        <mat-select formControlName="user_invites_status">
                          <mat-option value="1">True</mat-option>
                          <mat-option value="0">False</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-6 mb-4">
                    <mat-form-field appearance="outline" class="searchField">
                        <mat-label>Select Country Code</mat-label>
                        <mat-select formControlName="country_code">
                          <mat-option value="91">India</mat-option>
                          <mat-option value="971">UAE</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div> -->
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3">
    <button mat-raised-button color="accent" (click)="backFrom()">Back</button>
    <button mat-raised-button color="primary" class="primary" (click)="loadData()">Search</button>
    <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
</mat-dialog-actions>