<!-- <app-sidenav></app-sidenav> -->
<div class="WrapperArea">
    <mat-toolbar class="pagetitle-bar">
        <h2>Instant Payment Management</h2>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" autosize>
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <div fxLayoutGap="20" class="searchArea big mb-3 d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-2">
                        <button mat-raised-button color="primary" class="primary" (click)="txnFilter()">Filter</button>
                        <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
                    </div>
                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="w-100 sticky-table">
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                            <td mat-cell *matCellDef="let element;index as i;"> {{ currentPage * pageSize + i + 1 }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> User Name </th>
                            <td mat-cell *matCellDef="let element" [innerHTML]="element.username"> {{element.username?element.username:"N/A"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Payment Date</th>
                            <td mat-cell *matCellDef="let element">
                              <div style="white-space: nowrap;text-align: center;"><span
                                  [outerHTML]="dateCut(element.created_at)"></span></div>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="statusCode">
                            <th mat-header-cell *matHeaderCellDef> Status <br />Code </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.txn_details?.code?element?.txn_details?.code:'N/A'}}
                            </td>
                        </ng-container>
                          <ng-container matColumnDef="status1" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Order Status </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <span class="chip green"> {{element.payment_status | titlecase}}</span> -->
                                <!-- <span *ngIf="element.payment_status=='refunded'"
                                    class="chip pink">{{element.payment_status | titlecase}}</span> -->
                                <span *ngIf="element.payment_details.code==3"
                                    class="chip green">{{element.payment_details?.text}}</span>
                                <span *ngIf="element.payment_details.code!=3"
                                    class="chip red">{{element.payment_details?.text}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>User Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.user_email?element.user_email:"N/A"}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="bookingId">
                            <th mat-header-cell *matHeaderCellDef> Booking ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.reservation_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="resName">
                            <th mat-header-cell *matHeaderCellDef> Restaurant Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.restaurant_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>Amount </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <span class="chip green"> {{element.payment_status | titlecase}}</span> -->
                                <span *ngIf="element.payment_status?.key=='failed'"
                                    class="chip red">{{element.payment_status?.key
                                    | titlecase}}</span>
                                <span *ngIf="element.payment_status?.key=='refunded'"
                                    class="chip pink">{{element.payment_status?.key | titlecase}}</span>
                                <span *ngIf="element.payment_status?.key=='active'"
                                    class="chip brown">{{element.payment_status?.key | titlecase}}</span>
                                <span *ngIf="element.payment_status?.key=='completed'"
                                    class="chip green">{{element.payment_status?.key | titlecase}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action1" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon class="material-symbols-sharp">more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item *ngIf="!element.is_nukhba_user"
                                        (click)="txnDetails(element)">View Details
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div>
                    <!-- <mat-paginator #paginator [length]="userlistcount" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"  (page)="pageChanged($event)"  aria-label="Select page">
            </mat-paginator> -->
                </div>
            </div>
            <div>
            </div>
        </div>
    </mat-sidenav-container>
</div>