<!-- <app-sidenav></app-sidenav> -->
<div [ngClass]="data?'':'WrapperArea'">
    <mat-toolbar class="pagetitle-bar">
        <h2 class="admin-logo">Campaign & Notification Management</h2>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" autosize>
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <div fxLayoutGap="8" class="searchArea big mb-3">
                    <button mat-raised-button color="primary" class="primary" (click)="userFilter()">Filter</button>
                    <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
                    <button mat-raised-button color="primary" (click)="sendDialog('','1')">Send Dialog To All User
                    </button>
                    <!-- <button mat-raised-button color="accent" >Send Notification To All User</button> -->
                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
                <!-- <div class="searchArea mb-3" fxLayoutAlign="space-between center" fxLayoutGap="20">
            <form [formGroup]="searchForm" class="search-form" fxLayoutAlign="start center" fxLayoutGap="8">
              <mat-form-field appearance="outline" class="searchField">
                <mat-label>Search by Name /Email</mat-label>
                <input matInput placeholder="Search by Name /Email" formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline" class="searchField">
                <mat-label>Select Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="1">Active</mat-option>
                  <mat-option value="-1">Blocked</mat-option>
                  <mat-option value="-3">Noshow</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" class="primary" (click)="loadData()">Search</button>
              <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
            </form>
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
            </mat-paginator>
          </div> -->
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                            <td mat-cell *matCellDef="let element;index as i;"> {{
                                currentPage * pageSize + i + 1 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="fname">
                            <th mat-header-cell *matHeaderCellDef> First Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.first_name?element.first_name:'N/A'}}
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element"> {{element.last_name?element.last_name:'N/A'}} </td>
              </ng-container> -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element"> {{element.email?element.email:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef>Phone No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile?element.mobile:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="booking">
                            <th mat-header-cell *matHeaderCellDef>No. of booking </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.booking_count?element.booking_count:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="campaign_id">
                            <th mat-header-cell *matHeaderCellDef>Campaign</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.campaign_title?element.campaign_title:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="last_seen">
                            <th mat-header-cell *matHeaderCellDef>Last Seen</th>
                            <td mat-cell *matCellDef="let element;">
                                <div style="white-space: nowrap;text-align: center;">
                                    {{element.last_seen*1000 |
                                    date:
                                    'dd-MMM-yy'}} <br> {{element.last_seen*1000 |
                                    date:
                                    'HH:MM'}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="onboard">
                            <th mat-header-cell *matHeaderCellDef>Signup</th>
                            <td mat-cell *matCellDef="let element;">
                                <div style="white-space: nowrap;text-align: center;">
                                    {{element.on_boarding_at*1000 |
                                    date:
                                    'dd-MMM-yy'}} <br> {{element.on_boarding_at*1000 |
                                    date:
                                    'HH:MM'}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <span class="chip green"> {{element.status | titlecase}}</span>  -->
                                <span *ngIf="element.status=='active' && !element.contact_invited"
                                    class="chip green">{{element.status | titlecase}}</span>
                                <span *ngIf="element.status=='active' && element.contact_invited"
                                    class="chip green danger">{{element.status | titlecase}}</span>
                                <span *ngIf="element.status=='noshow'" class="chip">{{element.status |
                                    titlecase}}</span>
                                <span *ngIf="element.status=='blocked'" class="chip red">{{element.status |
                                    titlecase}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Block / Unblock </th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="element.status=='active'" (click)="changeStatus(element,'blocked')"
                                    class="btn btn-min btn-danger">Block</button>
                                <button *ngIf="element.status=='blocked' || element.status=='noshow' "
                                    (click)="changeStatus(element,'active')"
                                    class="btn btn-min btn-success">Unblock</button>
                                <!-- <button [disabled]="_appService.isButtonDisabled()" mat-raised-button [matMenuTriggerFor]="menu"
                    color="primary" class="primary"> Options</button> -->
                                <!-- <mat-menu #menu="matMenu">
                    <button [disabled]="element.status=='blocked'" (click)="changeStatus(element,'blocked')"
                      mat-menu-item>Block</button>
                    <button [disabled]="element.status=='active'" (click)="changeStatus(element,'active')"
                      mat-menu-item>Unblock</button>
                  
                  </mat-menu> -->
                                <!-- <button [disabled]="element.status=='suspended'" (click)="changeStatus(element,'suspended')"
                      mat-menu-item>Suspended</button> -->
                                <!-- <button mat-menu-item>Active Block User</button> -->
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="actionv2">
                            <th mat-header-cell *matHeaderCellDef>Live / Pilot </th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="element.is_pilot=='0'" (click)="changePilotStatus(element,'pilot')"
                                    class="btn btn-sm btn-success btn-min">Live</button>
                                <button *ngIf="element.is_pilot=='1'" (click)="changePilotStatus(element,'live')"
                                    class="btn btn-sm btn-dark btn-min">Pilot</button>
                            </td>
                        </ng-container> -->
                        <ng-container matColumnDef="checked">
                            <th mat-header-cell *matHeaderCellDef>Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon class="material-symbols-sharp">more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <!-- <button mat-menu-item *ngIf="!element.is_nukhba_user"
                                        (click)="addNukhbaUser(element)">Add Test User</button>
                                    <button mat-menu-item *ngIf="element.is_nukhba_user"
                                        (click)="removeNukhbaUser(element)">Remove Test User</button>
                                    <button mat-menu-item (click)="ViewFCMToken(element)">View FCM Token</button>
                                    <button mat-menu-item *ngIf="element.status=='active'"
                                        (click)="changeStatus(element,'blocked')">Block</button>
                                    <button mat-menu-item [disabled]="element.is_agent" (click)="addAgent(element)">Add
                                        Agent</button>
                                    <button mat-menu-item *ngIf="element.status=='blocked' || element.status=='noshow' "
                                        (click)="changeStatus(element,'active')">Unblock</button> -->
                                    <button mat-menu-item (click)="sendDialog(element,'0')">Send Dialog</button>
                                    <!-- <button mat-menu-item>Send Notification</button> -->
                                </mat-menu>
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef style="width: 100px; white-space: nowrap;"> <input type="checkbox"
                    [(ngModel)]="selectAllValue" (change)="onSelectAllCheckboxClick()" class="mr-1">Select
                </th>
  
                <td  mat-cell *matCellDef="let element">
                  <ng-container *ngIf="!element.is_nukhba_user"><input type="checkbox" [(ngModel)]="element.checked"
                      (change)="onCheckboxClick(element)"></ng-container>
                  <ng-container *ngIf="element.is_nukhba_user"><input type="checkbox" checked="true"
                      disabled="true"></ng-container>
  
  
                </td>
              </ng-container> -->
                        <!-- <ng-container matColumnDef="is_nukhba_user">
                <th mat-header-cell *matHeaderCellDef>Is Nukbha User </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.is_nukhba_user" class="chip green">Yes</span>
                  <span *ngIf="!element.is_nukhba_user" class="chip">No</span>
                </td>
              </ng-container> -->
                        <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" (click)="showEditForm(element)" class="secondary">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container> -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div>
                    <!-- <mat-paginator #paginator [length]="userlistcount" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"  (page)="pageChanged($event)"  aria-label="Select page">
          </mat-paginator> -->
                    <!-- <button *ngIf="selectedIds" (click)="submitEmails()" class="btn btn-sm btn-success btn-min">Save</button> -->
                </div>
            </div>
            <div>
            </div>
        </div>
    </mat-sidenav-container>
    <mat-dialog-actions align="end" class="px-3">
        <button mat-raised-button mat-dialog-close color="accent">Close</button>
    </mat-dialog-actions>
</div>