<!-- <app-sidenav></app-sidenav> -->
<div>
  <h2 mat-dialog-title>View Users List</h2>
  <mat-dialog-content class="mat-typography">
    <mat-sidenav-container class="example-sidenav-container" autosize>
      <div class="WrapperBox">
        <div class="Small-Wrapper">
          <div class="searchArea mb-3" fxLayoutAlign="space-between center" fxLayoutGap="20">
            <form [formGroup]="searchForm" class="search-form flex-wrap">
              <!-- <mat-form-field appearance="outline" class="searchField">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="From Date" formControlName="from_date" readonly="true">
                  <input matEndDate placeholder="To Date" formControlName="to_date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field> -->
              <app-date-time-picker  #dateTimePicker (dateRangeChange)="onDateRangeChange($event)"></app-date-time-picker>
              <button mat-raised-button color="primary" (click)="loadData()" class="primary">Search</button>
              <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
            </form>
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
            </mat-paginator>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
              <ng-container matColumnDef="sr">
                <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                <td [ngClass]="element?.is_deleted_user==1?'red':'green'" mat-cell *matCellDef="let element;index as i;"> {{ currentPage * pageSize + i + 1 }} </td>
              </ng-container>
              <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element"> {{element.first_name?element.first_name:'N/A'}} </td>
              </ng-container>
              <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef> Last Name</th>
                <td mat-cell *matCellDef="let element"> {{element.last_name?element.last_name:'N/A'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email?element.email:'N/A'}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-sidenav-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" class="accent" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>