<div [ngClass]="data?'':'WrapperArea'">
    <!-- class="WrapperArea" -->
    <mat-toolbar class="pagetitle-bar">
        <h2>Cashout Request Management</h2>
    </mat-toolbar>
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="searchArea mb-3" fxLayoutAlign="space-between center" fxLayoutGap="20">
                <form [formGroup]="searchForm" class="search-form searchField" fxLayoutAlign="start center"
                    fxLayoutGap="8">
                    <!-- <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <mat-label>Search By Name/Location</mat-label>
                        <input matInput placeholder="Search By Name/Location" formControlName="name">
                    </mat-form-field> -->
                    <mat-form-field appearance="outline">
                        <mat-label> Select Cashout Date Range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate #startInput placeholder="Booking Start Date" formControlName="from_date"
                                readonly="true">
                            <input matEndDate #endInput placeholder="Booking End Date" formControlName="to_date"
                                readonly="true">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="primary" (click)="searchData()">Search</button>
                    <button mat-raised-button color="accent" (click)="formReset()">Reset</button>
                </form>
                <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                </mat-paginator>
            </div>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
                    <ng-container matColumnDef="sr">
                        <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                        <td mat-cell *matCellDef="let element;index as i;"> {{ currentPage * pageSize + i + 1 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef>Cashout Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.created_at*1000 | date:'dd-MMM-YY hh:mm:aa'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="usable_amount">
                        <th mat-header-cell *matHeaderCellDef>Usable Amount</th>
                        <td mat-cell *matCellDef="let element"> {{element.usable_amount?element.usable_amount:'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef>Points</th>
                        <td mat-cell *matCellDef="let element"> {{element.points?element.points:'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element"> {{element.amount?element.amount:'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="uName">
                        <th mat-header-cell *matHeaderCellDef>Username</th>
                        <td mat-cell *matCellDef="let element"> {{element.user?.name?element.user?.name:'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="uEmail">
                        <th mat-header-cell *matHeaderCellDef>User Email</th>
                        <td mat-cell *matCellDef="let element"> {{element.user?.email?element.user?.email:'N/A'}}
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.type?element.type:'N/A'}}
                        </td>
                    </ng-container> -->
                    <!-- <ng-container matColumnDef="cashout_type">
                        <th mat-header-cell *matHeaderCellDef>Cashout Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.cashout_type?element.cashout_type:'N/A'}}
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="is_expired">
                        <th mat-header-cell *matHeaderCellDef style="width: 70px;">Is Expired</th>
                        <td mat-cell *matCellDef="let element"> {{element.is_expired==0?'No':'Yes'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.approved_status_text=='PENDING'"
                                class="chip yellow">{{element.approved_status_text
                                |titlecase}}</span>
                            <span *ngIf="element.approved_status_text=='APPROVED'"
                                class="chip green">{{element.approved_status_text
                                |titlecase}}</span>
                            <span *ngIf="element.approved_status_text=='REJECTED'"
                                class="chip red">{{element.approved_status_text
                                |titlecase}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actionv2">
                        <th mat-header-cell *matHeaderCellDef>Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button [disabled]="element.approved_status!=0" (click)="updateRequest(element)"
                                class="btn btn-sm btn-min btn-dark">Update Status</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>