<!-- <app-sidenav></app-sidenav> -->
<div class="WrapperArea">
    <mat-toolbar class="pagetitle-bar w-100 mb-0" fxLayoutAlign="space-between center" fxLayoutGap="20">
      <h2 class="admin-logo">Change Password</h2>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" autosize>
      <div class="WrapperBox">
        <div class="Small-Wrapper">
            <form class="mw-500">
                <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your current password</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon class="material-symbols-sharp">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon class="material-symbols-sharp">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Re-Enter your new password</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon class="material-symbols-sharp">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                  <button mat-raised-button color="primary" class="primary" style="display: inline-block;">Submit</button>
                </form>
          <div>
          </div>
        </div>
        <div>
        </div>
      </div>
    </mat-sidenav-container>
  </div>