<!-- <app-sidenav></app-sidenav> -->
<div [ngClass]="data?'':'WrapperArea'">
    <mat-toolbar class="pagetitle-bar d-flex gap-2 align-items-center justify-content-between">
        <h2>Admin Management</h2>
        <button mat-raised-button color="primary" class="primary" (click)="addUpdateAdmin()">Register Admin</button>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" autosize>
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <div fxLayoutAlign="end center" fxLayoutGap="20" class="mb-3">
                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                            <td mat-cell *matCellDef="let element;index as i;"> {{ currentPage * pageSize + i + 1 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>  Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.name?element.name:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> Role</th>
                            <td mat-cell *matCellDef="let element"> {{element.role?element.role[0]:'N/A'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.email ||'N/A'}} </td>
                        </ng-container>
                      
                        <!-- <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef>Created At</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.created_at | date: 'dd-MMM-yy hh:mm:aa'}}
                            </td>
                        </ng-container> -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Edit </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex gap-2 align-items-center">
                                    <button mat-mini-fab color="accent" (click)="addUpdateAdmin(element)" class="secondary">
                                        <span class="material-symbols-sharp">edit</span>
                                    </button>
                                    <button color="accent" (click)="removeUserRole(element)" class="chip red">
                                    Remove Role
                                    </button>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</div>