<h2 mat-dialog-title>
 Add Remark
    </h2>
<form class="innerbox" [formGroup]="remarkForm">
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <!-- <div class="teamlable">Name<em>*</em></div> -->
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Remark" formControlName="remark">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(remarkForm.get('remark')?.hasError('required') && (submitted || (remarkForm.get('remark')?.dirty)))">
                        *remark Field Is Required
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100" *ngIf="data.status =='approved'">
                <div fxFlex="100">
                    <!-- <div class="teamlable">Name<em>*</em></div> -->
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Commission" formControlName="commission">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(remarkForm.get('commisision')?.hasError('required') && (submitted || (remarkForm.get('commisision')?.dirty)))">
                        *commisision Field Is Required
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100" *ngIf="data.status =='approved'">
             <div fxFlex="100">
                 <!-- <div class="teamlable">Name<em>*</em></div> -->
                 <mat-form-field class="example-full-width w-100" appearance="outline" >
                     <mat-select formControlName="commission_type">
                         <mat-option value="">Commission Type</mat-option>
                         <mat-option value="flat">Flat</mat-option>
                         <mat-option value="percentage">Percentage</mat-option>
                     </mat-select>
                 </mat-form-field>
                 <div class="text-danger"
                     *ngIf="(remarkForm.get('commission_type')?.hasError('required') && (submitted || (remarkForm.get('commission_type')?.dirty)))">
                     *commisision type Field Is Required
                 </div>
             </div>
         </div>
           
        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center" style="padding: 20px">
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button [disabled]="remarkForm.invalid"
            color="primary" class="primary" (click)="saveLocation()">Save</button>
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent" class="secondary"
            (click)="closeDialogBox()">Close</button>
    </div>
</form>