<h2 mat-dialog-title>
    <span *ngIf="this.data.index==undefined">Add</span>
    <span *ngIf="this.data.index!=undefined">Update</span>
</h2>
<form class="innerbox" [formGroup]="categoryForm">
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <div class="teamlable">Title</div>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter title" formControlName="title"
                            (input)="onInputChange($event)">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <!-- <div class="teamlable">Type</div> -->
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <mat-label>Select Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option value="restaurant">Restaurant</mat-option>
                            <mat-option value="game">Game Play</mat-option>
                            <mat-option value="shareapp">Share App</mat-option>
                            <mat-option value="manual">Manual</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100" *ngIf="categoryForm.value.type=='restaurant'">
                <!-- <div class="teamlable">Select Restaurant<em>*</em></div> -->
                <mat-form-field class="example-full-width w-100" appearance="outline">
                    <mat-label>Select Restaurant</mat-label>
                    <mat-select formControlName="res_id">
                        <mat-option *ngFor="let type of restaurantData | sort:'name'" value={{type.id}}>
                            {{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" *ngIf="categoryForm.value.type=='manual'" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <div class="teamlable">Action</div>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Action" formControlName="link"
                            (input)="onInputChange($event)">
                    </mat-form-field>
                    <label
                        *ngIf="categoryForm.get('link')?.hasError('required')  && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="text-danger">
                        Action required.
                    </label>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <div class="teamlable">Coins</div>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput type="number" placeholder="Enter coins" formControlName="coins"
                            (input)="onInputChange($event)">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <div class="teamlable">Coin Currency</div>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter coin currency" formControlName="coin_currency"
                            (input)="onInputChange($event)">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <div class="teamlable">Button Name</div>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Button Name" formControlName="button_name"
                            (input)="onInputChange($event)">
                    </mat-form-field>
                </div>
            </div>
            <!-- <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <mat-select formControlName="type">
                            <mat-option value="">Select Type</mat-option>
                            <mat-option value="cuisine">CUISINE</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(categoryForm.get('type')?.hasError('required') && (submitted || (categoryForm.get('type')?.dirty)))">
                        *Type Field Is Required
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col">
                    <label class="position-relative d-flex align-items-center gap-2">Upload <mat-icon
                            class="material-symbols-sharp"
                            matTooltip="Please select only jpeg,png format image.">info</mat-icon></label>
                    <div class="custom-file">
                        <input class="ng-hide" formControlName="icon" (change)="onFileSelected($event)"
                            id="input-file-id" type="file" />
                        <label for="input-file-id">Upload Image</label>
                    </div>

                    <div *ngIf="imageSize" class="filesize my-2">File size: {{ imageSize }}</div>
                    <div class="text-danger"
                        *ngIf="(categoryForm.get('icon')?.hasError('required') && (submitted || (categoryForm.get('icon')?.dirty)))">
                        *Image Is Required
                    </div>
                </div>
                <div class="col">
                    <ng-container *ngIf="image">
                        <div class="image-preview">
                            <img id="preview" [src]=image>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center" style="padding: 20px;">
        <button *ngIf="this.data.index==undefined" mat-raised-button color="primary" class="primary"
            (click)="update()">Save</button>
        <button *ngIf="this.data.index!=undefined" mat-raised-button color="primary" class="primary"
            (click)="update()">Update</button>
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent" class="accent"
            (click)="closeDialogBox()">Close</button>
    </div>
</form>