<!-- <app-sidenav></app-sidenav> -->
<div class="WrapperArea">
    <mat-toolbar class="pagetitle-bar w-100 mb-0" fxLayoutAlign="space-between center" fxLayoutGap="20">
      
    
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" autosize>
      <div class="WrapperBox">
        <div class="Small-Wrapper">
          <!-- <form [formGroup]="searchForm"> -->
          <div class="searchArea mb-3" fxLayoutAlign="space-between center" fxLayoutGap="">
          
          </div>
          <div class="table-responsive">
           Welcome to Nukhba Dashboard
          </div>
          <div>
            <!-- <mat-paginator #paginator [length]="userlistcount" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"  (page)="pageChanged($event)"  aria-label="Select page">
          </mat-paginator> -->
          </div>
        </div>
        <div>
        </div>
      </div>
    </mat-sidenav-container>
  </div>