<h2 mat-dialog-title>View User Details</h2>
<mat-dialog-content class="mat-typography">

    <div class="d-flex justify-content-between gap-3">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <td>{{profileData?.full_name?profileData?.full_name:'N/A'}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{profileData?.email?profileData?.email:'N/A'}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{profileData?.mobile?profileData?.mobile:'N/A'}}</td>
            </tr>
        </table>
        <div class="avtar">
            <img src="{{profileData?.profile_pic}}" class="img-fluid" alt="" />
        </div>
    </div>






</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
</mat-dialog-actions>