<div class="Decline">
    <!-- <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal"></a> -->
    <h2 mat-dialog-title>{{data.title}}</h2>
    <div mat-dialog-content>
        <p>{{data.message}}</p>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center"  style="padding: 20px;">
        <button [disabled]="_appService.isButtonDisabled()" (click)="changeStatus()" class="primary" color="primary" mat-raised-button>{{data.label}}</button>
        <button [disabled]="_appService.isButtonDisabled()" (click)="closeDialogBox()" class="accent" color="accent" mat-raised-button>Close</button>
    </div>
</div>