<!-- <app-sidenav></app-sidenav> -->
<div [ngClass]="data?'':'WrapperArea'">
    <div class="d-flex justify-content-between align-items-center">
        <h2 mat-dialog-title>Coin History</h2>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
    </div>
        <mat-dialog-content class="mat-typography">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
                        <ng-container matColumnDef="sr">
                            <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                            <td mat-cell *matCellDef="let element;index as i;"> {{ currentPage * pageSize + i + 1 }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef> Points</th>
                            <td mat-cell *matCellDef="let element"> {{element.points?element.points:'N/A'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Title</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.title?element.title:'N/A'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Created Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.created_at*1000 | date:'dd-MMM-YY hh:mm:aa'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
        </mat-dialog-content>
        <mat-dialog-actions *ngIf="data" align="end" class="px-3">
            <button mat-raised-button mat-dialog-close color="accent">Close</button>
        </mat-dialog-actions>
</div>