.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .search-container{
    position: relative;
  }
.search-container .icon{
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  width: 24px;
  opacity: 0.3;
}