<h2 mat-dialog-title>
    <span *ngIf="this.entity_id==undefined">New</span>
    <span *ngIf="this.entity_id!=undefined">Edit</span>
    Amenity
</h2>
<form class="innerbox" [formGroup]="amenitiesForm">
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <!-- <div class="teamlable">Name<em>*</em></div> -->
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <input matInput placeholder="Enter Name" formControlName="name" (input)="onInputChange($event)">
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(amenitiesForm.get('name')?.hasError('required') && (submitted || (amenitiesForm.get('name')?.dirty)))">
                        *Name Field Is Required
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" class="w-100">
                <div fxFlex="100">
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="0">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="(amenitiesForm.get('status')?.hasError('required') && (submitted || (amenitiesForm.get('status')?.dirty)))">
                        *status Field Is Required
                    </div>
                </div>
            </div>


<div class="row">
                <div class="col">
                <label class="position-relative d-flex align-items-center gap-2">Upload <mat-icon class="material-symbols-sharp"
                    matTooltip="Please select only jpeg,png format image.">info</mat-icon></label>
                <div class="custom-file">
                    <input class="ng-hide" formControlName="icon" (click)="onFileSelected($event)" id="input-file-id"
                    type="submit" style="display: none;"/>
                    <label for="input-file-id">Upload Image</label>
                </div>
           
                <div *ngIf="imageSize" class="filesize my-2">File size: {{ imageSize }}</div>
                <div class="text-danger"
                *ngIf="(amenitiesForm.get('icon')?.hasError('required') && (submitted || (amenitiesForm.get('icon')?.dirty)))">
                *Image Field Is Required
            </div>
                </div>
                <div class="col">
                    <ng-container *ngIf="image">
                        <img id="preview" [src]=image style="max-width:100px;max-height:90px;">
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center" style="padding: 20px;">
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button [disabled]="amenitiesForm.invalid"
            color="primary" class="primary" (click)="saveCategory()">Save</button>
        <button [disabled]="_appService.isButtonDisabled()" mat-raised-button color="accent" class="secondary"
            (click)="closeDialogBox()">Close</button>
    </div>
</form>