<h2 mat-dialog-title>View Leaderboard</h2>

<mat-dialog-content class="mat-typography">

  <div [ngClass]="data?'':'WrapperArea'">
    <!-- class="WrapperArea" -->
    <div class="WrapperBox">
      <div class="Small-Wrapper px-0">
        <div  class="searchArea mb-3" fxLayoutAlign="start center" fxLayoutGap="20">
          <form [formGroup]="searchForm" class="search-form mb-0" fxLayoutAlign="start center">
            <mat-form-field class="custom-mat-form-field searchField" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="custom-mat-form-field searchField" appearance="outline">
              <mat-label>Rank From</mat-label>
              <input matInput placeholder="Enter Rank From" formControlName="rank_from">
            </mat-form-field>
            <mat-form-field class="custom-mat-form-field searchField" appearance="outline">
              <mat-label>Rank To</mat-label>
              <input matInput placeholder="Enter Rank To" formControlName="rank_to">
            </mat-form-field>
            <button mat-raised-button color="primary" class="primary" (click)="searchData()">Search</button>
            <button mat-raised-button color="accent" (click)="formReset()" >Reset</button>
          </form>
        </div>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="sticky-table" fxFlex="100">
            <ng-container matColumnDef="rank">
              <th mat-header-cell *matHeaderCellDef>Rank</th>
              <td mat-cell *matCellDef="let element"> {{element.user_rank?element.user_rank:'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.username?element.username:'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element">
                <img style="max-width: 70px;" src={{element.profile_pic}}>
              </td>
            </ng-container>
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>Score</th>
              <td mat-cell *matCellDef="let element"> {{element.total_score?element.total_score:'0'}} </td>
            </ng-container>
            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef>Referral Points</th>
              <td mat-cell *matCellDef="let element"> {{element.referral_points?element.referral_points:'0'}} </td>
            </ng-container>
            <ng-container matColumnDef="users">
              <th mat-header-cell *matHeaderCellDef>Total Referral Users</th>
              <td mat-cell *matCellDef="let element">
                {{element.num_of_referral_users?element.num_of_referral_users:'0'}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="approvalStatus">
              <th mat-header-cell *matHeaderCellDef>Approval Status</th>
              <td mat-cell *matCellDef="let element">
                {{element.approval_status?element.approval_status:'N/A'}} </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" class="px-3 pb-3">
  <button mat-raised-button mat-dialog-close color="accent" color="accent">Close</button>
</mat-dialog-actions>